# הספריות שצריך להתקין בשביל להריץ את המערכת
# להתקנה: pip install -r requirements.txt

Flask==3.0.2              # ספריית הבסיס לבניית אתרים
Flask-CORS==4.0.0         # מאפשר גישה מדפדפנים שונים
Flask-SQLAlchemy==3.1.1   # עבודה עם בסיס הנתונים
SQLAlchemy==2.0.28        # מנוע בסיס הנתונים
python-dotenv==1.0.1      # טעינת הגדרות מקובץ
Werkzeug==3.0.1           # כלי עזר לפיתוח 