# ספריות נדרשות למערכת השכרת רכבים

# מסגרת לפיתוח שרת ווב
flask==3.0.2

# תמיכה בגישה מדומיינים שונים (CORS)
flask-cors==4.0.0

# מסגרת ORM לעבודה עם בסיס נתונים
flask-sqlalchemy==3.1.1

# טעינת משתני סביבה מקובץ
python-dotenv==1.0.1

# מסגרת ORM לעבודה עם בסיסי נתונים
SQLAlchemy==2.0.28 